.flexibilitySection {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.imageAndText {
    position: relative;
}

.text {
    position: absolute;
    top: 0;
    right: 5%;
    left: 5%;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
}


.imagerow {
    display: flex;
}

.imageBottom {
    align-items: baseline;
}


.flexibilityContainer {
    display: flex;
}

.flexibilityTextAndButton {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: left;
}



.imagerow {
    gap: 1rem;
    margin-bottom: 1rem;
}


.flexibilityContainer {
    gap: 3.5rem;
}

.text1 {
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.375rem;
}

.text2 {
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.searchRooms {
    color: var(--default-white, #FFF);

    font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;

    padding: 1.38rem 1.75rem;
    border-radius: 0.8125rem;
    background: #F4511E;
    border: none;

    transition: 0.5s ease;
}


.searchRooms :hover {
    background: #9c513a;
}



.flexibilityImage {
    width: 100%;
}